body{
    background-color: #C6E0FF;
}
h1{
    color: #315659;
    font-family:Times, serif;
    justify-content: center;
}
p{
    color: #004E64;
    font-family:Times, serif;
    font-size: medium;
}
.experiencias{
    display: flex;
    flex-wrap: wrap;
    font-size: small;
    justify-content: center;
    align-items: center;
}