body{
    background-color: black;
}
h1{
    color: rgb(9, 255, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    color: rgb(197, 197, 197);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.experiencias{
    display: flex;
    flex-wrap: wrap;
    font-size: small;
    justify-content: center;
    align-items: center;
}